<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seisoul.projectmanagementsystem.mapper.MemberMapper">
    <resultMap id="MemberResultMap" type="com.seisoul.projectmanagementsystem.pojo.Member">
        <result column="mem_id" property="memId"/>
        <result column="mem_password" property="memPassword"/>
        <result column="mem_name" property="memName"/>
        <result column="gender" property="gender"/>
        <result column="leader" property="leader"/>
    </resultMap>

    <!--=======================================================================================-->

    <!--查询-->

    <!--查询方法:查询所有 返回值:Member对象 封装的数据:全数据-->
    <select id="selectAllMember" resultMap="MemberResultMap">
        select * from tb_mem;
    </select>

    <!--查询方法:通过成员id查询 返回值:Member对象 封装的数据:全数据-->
    <select id="selectByMemId" resultMap="MemberResultMap">
        select * from tb_mem
        <where>
            id = #{id}
        </where>
    </select>

    <!--查询方法:通过成员姓名查询 返回值:Member对象 封装的数据:全数据-->
    <select id="selectByMemName" resultMap="MemberResultMap">
        select * from tb_mem
        <where>
            mem_name = #{memName}

        </where>
    </select>

    <!--查询方法:通过是否是组长查询 返回值:Member对象 封装的数据:全数据-->
    <select id="selectByLeader" resultType="com.seisoul.projectmanagementsystem.pojo.Member">
        select * from tb_mem
        <where>
            leader = #{leader};
        </where>
    </select>

    <!--查询方法:通过成员状态 返回值:Member对象 封装的数据:全数据-->
    <select id="selectByMemStatus" resultMap="MemberResultMap">
        select * from tb_mem
        <where>
            mem_status = #{memStatus};
        </where>
    </select>


    <!--通过id和密码查询所有-->
    <select id="selectByIdAndPassword" resultMap="MemberResultMap">
        select * from tb_mem
        <where>
            mem_id = #{memId}
            and mem_password = #{memPassword};
        </where>
    </select>
    <select id="selectAllMemberName" resultMap="MemberResultMap">
        select mem_name from tb_mem
    </select>


    <!--=======================================================================================-->

    <!--增加-->

    <!--<insert id=""></insert>-->


    <!--=======================================================================================-->

    <!--修改-->

    <!--<update id=""></update>-->

    <!--=======================================================================================-->

    <!--删除-->

    <!--<delete id=""></delete>-->

</mapper>