<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seisoul.projectmanagementsystem.mapper.MissionMapper">

    <!--查询方法:通过id和密码查询任务 返回值:MemberResultMap 返回数据:对应id和命名的map集合-->
    <select id="selectByIdAndPassword" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mem
        <where>
            mem_id = #{memId}
            and mem_password = #{memPassword};
        </where>

        <!--查询方法:查询所有 返回值:Mission对象 封装的属性:Mission表全数据-->

    </select>

    <!--方法名:查询所有任务 返回值:Mission对象 返回数据:表格tb_mis的全部行和全部列-->
    <select id="selectAllMission" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mis;
    </select>


    <!--方法名:通过成员id查询任务 返回值:Mission对象 返回数据:指定成员id的任务数据-->
    <select id="selectByFkMemId" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mis
        <where>
            fk_mem_id = #{fkMemId}
        </where>
    </select>

    <!--方法名:通过任务id查询任务 返回值:Mission对象 返回数据:指定任务id的任务数据-->
    <select id="selectByMisId" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mis
        <where>
            mis_id = #{misId}
        </where>
    </select>

    <!--方法名:通过项目id查询任务 返回值:Mission对象 返回数据:指定项目id的任务数据-->
    <select id="selectByFkProjId" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mis
        <where>
            fk_proj_id = #{fkProjId}
        </where>

    </select>
    <select id="selectByAnyWay" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select * from tb_mis
        <where>
            <if test="fkMemId &gt;= 0">
                and fk_mem_id = #{fkMemId}
            </if>
            <if test="startTime != null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime !=null">
                and end_time &lt;= #{endTime}
            </if>
            <if test="level &gt;= 0">
                and level = #{level}
            </if>
            <if test="desc != null and desc !=''">
                and `desc` like concat('%',#{desc},'%');
            </if>
        </where>
    </select>

    <!--方法名:通过项目desc查询任务 返回值:Mission对象 返回数据:指定项目desc的任务数据-->
    <select id="getMissionByDesc" resultType="com.seisoul.projectmanagementsystem.pojo.Mission">
        select *from tb_mis
        <where>
            `desc` = #{desc}
        </where>
    </select>

    <insert id="addMission" parameterType="com.seisoul.projectmanagementsystem.pojo.Mission" useGeneratedKeys="true" keyProperty="misId">
        INSERT INTO tb_mis(`desc`, `fk_proj_id`, `add_time`, `expire_time`, `mis_status`, `start_time`, `end_time`, `level`, `progress`, `fk_mem_id`)
        VALUES(#{desc}, #{fkProjId}, #{addTime}, #{expireTime}, #{misStatus}, #{startTime}, #{endTime}, #{level}, #{progress}, #{fkMemId})
    </insert>

</mapper>